*.pyc
.vscode
demo_adaptive.wav
demo_arabic_maqam.wav
demo_basic.wav
demo_bohlen_pierce.wav
demo_classical.wav
demo_dark_ambient.wav
demo_emotional_trajectory.png
demo_emotional_trajectory.wav
demo_harmonic_series.wav
demo_heroic.wav
demo_indian_raga.wav
